
@{
    ViewBag.Title = "Index";
}

<h2>個人訊息中心</h2>

<a href="/Members/EditProfile"><input type="button" name="editprofile" value="修改個人資訊" class="btn btn-default"/></a>
<br />
<a href="/Members/ResetPassword"><input type="button" name="resetpassword" value="重設密碼" class="btn btn-default" /></a>